# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
myenv/
my_venv/
myenv/Lib/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific
.idea/
*.sublime-project
*.sublime-workspace


